<html> 
<head> 
    <title>Email de confirmação</title>
</head>
<body>
    <h1>Olá {{ .User.Name }}</h1>
    <p>Para confirmar seu email, clique no link abaixo:</p>
    <a href="{{ .URL }}">Clique aqui</a>
</body>